<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.babytree.mapper.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.babytree.pojo.Users" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_noticeid" property="userNoticeid" jdbcType="INTEGER" />
    <result column="user_tel" property="userTel" jdbcType="VARCHAR" />
    <result column="user_nickname" property="userNickname" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="INTEGER" />
    <result column="user_birth" property="userBirth" jdbcType="TIMESTAMP" />
    <result column="user_address" property="userAddress" jdbcType="VARCHAR" />
    <result column="user_level" property="userLevel" jdbcType="INTEGER" />
    <result column="user_state" property="userState" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.qfedu.babytree.pojo.Users" extends="BaseResultMap" >
    <result column="user_imgurl" property="userImgurl" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_noticeid, user_tel, user_nickname, user_password, user_sex, user_birth, 
    user_address, user_level, user_state
  </sql>
  <sql id="Blob_Column_List" >
    user_imgurl
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from users
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from users
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.babytree.pojo.Users" >
    insert into users (user_id, user_noticeid, user_tel, 
      user_nickname, user_password, user_sex, 
      user_birth, user_address, user_level, 
      user_state, user_imgurl)
    values (#{userId,jdbcType=INTEGER}, #{userNoticeid,jdbcType=INTEGER}, #{userTel,jdbcType=VARCHAR}, 
      #{userNickname,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{userSex,jdbcType=INTEGER}, 
      #{userBirth,jdbcType=TIMESTAMP}, #{userAddress,jdbcType=VARCHAR}, #{userLevel,jdbcType=INTEGER}, 
      #{userState,jdbcType=INTEGER}, #{userImgurl,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.babytree.pojo.Users" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userNoticeid != null" >
        user_noticeid,
      </if>
      <if test="userTel != null" >
        user_tel,
      </if>
      <if test="userNickname != null" >
        user_nickname,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userSex != null" >
        user_sex,
      </if>
      <if test="userBirth != null" >
        user_birth,
      </if>
      <if test="userAddress != null" >
        user_address,
      </if>
      <if test="userLevel != null" >
        user_level,
      </if>
      <if test="userState != null" >
        user_state,
      </if>
      <if test="userImgurl != null" >
        user_imgurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userNoticeid != null" >
        #{userNoticeid,jdbcType=INTEGER},
      </if>
      <if test="userTel != null" >
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null" >
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userBirth != null" >
        #{userBirth,jdbcType=TIMESTAMP},
      </if>
      <if test="userAddress != null" >
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null" >
        #{userLevel,jdbcType=INTEGER},
      </if>
      <if test="userState != null" >
        #{userState,jdbcType=INTEGER},
      </if>
      <if test="userImgurl != null" >
        #{userImgurl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.babytree.pojo.Users" >
    update users
    <set >
      <if test="userNoticeid != null" >
        user_noticeid = #{userNoticeid,jdbcType=INTEGER},
      </if>
      <if test="userTel != null" >
        user_tel = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null" >
        user_nickname = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        user_sex = #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userBirth != null" >
        user_birth = #{userBirth,jdbcType=TIMESTAMP},
      </if>
      <if test="userAddress != null" >
        user_address = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null" >
        user_level = #{userLevel,jdbcType=INTEGER},
      </if>
      <if test="userState != null" >
        user_state = #{userState,jdbcType=INTEGER},
      </if>
      <if test="userImgurl != null" >
        user_imgurl = #{userImgurl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qfedu.babytree.pojo.Users" >
    update users
    set user_noticeid = #{userNoticeid,jdbcType=INTEGER},
      user_tel = #{userTel,jdbcType=VARCHAR},
      user_nickname = #{userNickname,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=INTEGER},
      user_birth = #{userBirth,jdbcType=TIMESTAMP},
      user_address = #{userAddress,jdbcType=VARCHAR},
      user_level = #{userLevel,jdbcType=INTEGER},
      user_state = #{userState,jdbcType=INTEGER},
      user_imgurl = #{userImgurl,jdbcType=LONGVARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.babytree.pojo.Users" >
    update users
    set user_noticeid = #{userNoticeid,jdbcType=INTEGER},
      user_tel = #{userTel,jdbcType=VARCHAR},
      user_nickname = #{userNickname,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=INTEGER},
      user_birth = #{userBirth,jdbcType=TIMESTAMP},
      user_address = #{userAddress,jdbcType=VARCHAR},
      user_level = #{userLevel,jdbcType=INTEGER},
      user_state = #{userState,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

  <select id="selectByName"  resultMap="BaseResultMap">


    select
    <include refid="Base_Column_List"/>
    from users where user_tel = #{name} or user_nickname = #{name}

  </select>

</mapper>